# Core Dashboard & Data
pandas==2.2.1
dash==2.16.1
plotly==5.20.0
numpy==1.26.4

# Testing & Automation
pytest==8.1.1
pytest-dash==0.1.0
selenium==4.19.0
webdriver-manager==4.0.1
py==1.11.0

# Utilities & Backend
python-dotenv==1.0.1
requests==2.32.0
flask==3.0.2
werkzeug==3.0.1